# Run init.d scripts
service initdinject /system/bin/initd.sh
    class post-fs-data
    seclabel u:r:<DOMAIN>:s0
    user root
    group root
    oneshot
    
service initdinjectls /system/bin/initd.sh -ls
    class late_start
    seclabel u:r:<DOMAIN>:s0
    user root
    group root
    oneshot
